<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/56fcb4db86.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        html {
            --accent: #5151dd
        }
        * {
            margin: 0;
            font-family: mainfont;
        }
        button {
            font-size: 1.01em;
        }

        @font-face {
            font-family: mainfont;
            src: url(/font.otf);
        }
    </style>
</head>
