<nav>
    <div class="logo">
        <a href="/">
            <img src="/logo.svg" alt="" width="40px">
        </a>
    </div>
    <ul>
        <a href="/">
            <li>Register</li>
        </a>
        <a href="/auth/login">
            <li>Login</li>
        </a>
        <a href="/">
            <li>About</li>
        </a>
    </ul>
</nav>

<style>
    nav {
        background-color: var(--accent);
        padding: 15px;
        margin: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow:  0 0 20px #b0aeae;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;  
        list-style-type: none;
    }

    ul a{
        color: white;
        text-decoration: none;
    }

    ul li {
        margin: 0 10px;
    }
</style>